<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-menu-button slot="start">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-menu-button>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="h-100">
    <ion-row class="h-100 ion-align-items-center">
      <ion-col class="subbox">
        <h1>Contact</h1>
        <p [innerHTML]="content?.description" class="linkcolor"></p>
        <!-- <p>So, let’s say there’s a review you’re just dying to see.  Or, you want to drop a line about the page and whatnot.  Or…maybe you want to schedule an American Tail moment where we both look up at the same full moon.  We can make any or all these things happen, just email me at:
        </p>

        <p><a routerLink="#">toddwofford@gmail.com</a></p>

        <p>Alternately, you can send me a message on Facebook:</p>

        <p><a routerLink="#">@toddwoffordmovies</a></p>

        <p>Whatever the case may be, I think you’re all just plain adorable.</p>

        <p class="mb-0">–Todd</p> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
