<section class="bggrey">
  <ion-row class="mt-2 mb-4">
    <ion-col size="12" class="no-padding ion-no-margin">
      <h2 class="heading">Related Articles</h2>
      <ion-slides slidercat pager="false" #mySlider [options]="slideOpts">
        <ion-slide>
          <div sliderbox>
            <a routerLink="#">
              <span>
                <img src="assets/images/movie.png" alt="" />
              </span>
              <div class="contentbox">
                <h3>Acasa, My Home <span>(2019)</span></h3>
                <div class="mt-2" category>
                  <span class="liststar">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </ion-slide>

        <ion-slide>
          <div sliderbox>
            <a routerLink="#">
              <span>
                <img src="assets/images/movie1.png" alt="" />
              </span>
              <div class="contentbox">
                <h3>Trolls World Tour <span>(2019)</span></h3>
                <div class="mt-2" category>
                  <span class="liststar">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </ion-slide>

        <ion-slide>
          <div sliderbox>
            <a routerLink="#">
              <span>
                <img src="assets/images/movie2.png" alt="" />
              </span>
              <div class="contentbox">
                <h3>Gloria Bell <span>(2019)</span></h3>
                <div class="mt-2" category>
                  <span class="liststar">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </ion-slide>

        <ion-slide>
          <div sliderbox>
            <a routerLink="#">
              <span>
                <img src="assets/images/movie1.png" alt="" />
              </span>
              <div class="contentbox">
                <h3>Parasite <span>(2019)</span></h3>
                <div class="mt-2" category>
                  <span class="liststar">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </ion-slide>

        <ion-slide>
          <div sliderbox>
            <a routerLink="#">
              <span>
                <img src="assets/images/movie2.png" alt="" />
              </span>
              <div class="contentbox">
                <h3>Gloria Bell <span>(2019)</span></h3>
                <div class="mt-2" category>
                  <span class="liststar">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </ion-slide>

      </ion-slides>
      <!-- <ion-button class="backBtn" (click)="swipeNext()"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      <ion-button class="nextBtn" (click)="swipePrev()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
    </ion-col>
  </ion-row>
</section>
